* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}




table {
    margin: 0;
    border-collapse: collapse;
}
th{
    table-layout: fixed;
    border: 1px solid black;
    text-align: center;
    width: 100px;
}
td{
    table-layout: fixed;
    border: 1px solid black;
    text-align: center;
    width: 100px;
}
table tbody tr:nth-child(even) {
    background-color: darkseagreen;
}
table tbody tr:nth-child(odd) {
    background-color: lightgray;
}
caption {
caption-side: bottom;
}
.Banner {
    width: 100%;
    height: 420px;
    padding: 0;
    background: linear-gradient(to right, black 32%, grey 70%);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    position: relative;
    border-bottom: 3px solid black;
}

.Banner-nav {
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 20px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap; /*Voor het schalen van de items*/

}
.Banner-Opleiding {
    width: 120px;
    height: 28px;
    text-shadow: 0 0 10px #800020, 0 0 20px #800020, 0 0 30px #800020;
    text-align: center;
    border-radius: 25px;
    border: 3px solid black;
}
.Banner-Opleiding a {
    text-decoration: none;
    color: black;

}
.Banner-Opleiding:hover {
    box-shadow: 2px 4px 10px #800020;
}

.Banner-Skills {
    width: 150px;
    height: 28px;
    text-shadow: 0 0 10px #800020, 0 0 20px #800020, 0 0 30px #800020;
    text-align: center;
    border-radius: 25px;
    border: 3px solid black;
}
.Banner-Skills a {
    text-decoration: none;
    color: black;
}
.Banner-Skills:hover {
    box-shadow: 2px 4px 10px #800020;
}

.Banner-Talenkennis {
    width: 135px;
    height: 28px;
    text-shadow: 0 0 10px #800020, 0 0 20px #800020, 0 0 30px #800020;
    text-align: center;
    border-radius: 25px;
    border: 3px solid black;
}
.Banner-Talenkennis a {
    text-decoration: none;
    color: black;
}
.Banner-Talenkennis:hover {
    box-shadow: 2px 4px 10px #800020;
}

.Banner-Werkervaring {
    width: 150px;
    height: 28px;
    text-shadow: 0 0 10px #800020, 0 0 20px #800020, 0 0 30px #800020;
    text-align: center;
    border-radius: 25px;
    border: 3px solid black;
}
.Banner-Werkervaring a {
    text-decoration: none;
    color: black;
}
.Banner-Werkervaring:hover {
    box-shadow: 2px 4px 10px #800020;
}

.Banner-Hobby{
    width: 100px;
    height: 28px;
    text-shadow: 0 0 10px #800020, 0 0 20px #800020, 0 0 30px #800020;
    text-align: center;
    margin-right: 115px;
    border-radius: 25px;
    border: 3px solid black;
}
.Banner-Hobby a{
    text-decoration: none;
    color: black;
}
.Banner-Hobby:hover {
    box-shadow: 2px 4px 10px #800020;
}


.Banner-inner {
    display: flex;
    align-items: center;      /* Verticaal centreren van foto en naam-titel */
    justify-content: space-between; /* Max ruimte tussen de 3 kolommen */
    max-width: 1400px;         /* Zelfde als werkervaring sectie */
    margin: 0 auto;            /* Centraal in pagina */
                 /* Optioneel, beetje ruimte */
    gap: 40px;
}

.foto {

    height: 420px;
    width: auto;
    object-fit: cover;
    /* Verticaal iets hoger: */

}
img:hover {
    box-shadow: 10px 10px 15px black;
}

/* Midden: Naam en titel onder elkaar, verticaal gecentreerd */
.Naam-introductie {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 1100px;
    color: black;
    margin-left: 200px;
    flex-wrap: nowrap;

    font-size: 20px;
}
.banner-rdj
{
    font-size: 24px;
    margin-top: 80px;

}
.banner-introductie{

    padding-top: 70px;
}
.graduaat{
    margin-bottom: 50px;
    font-size: 22px;
}








body {

    background: gray;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#Werkervaring {
    max-width: 1400px;
    margin: 100px auto;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

#Werkervaring h3 {
    font-size: 32px;
    margin-bottom: 30px;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
}

.job {
    margin-bottom: 35px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Job-functie {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Job-functie h4 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: 600;
}

.Datum {
    font-weight: bold;
    white-space: nowrap;
}

.Omschrijving {
    margin: 0;
    font-weight: 600;
}


.Job ul {
    margin: 0;
    padding-left: 20px;
}

.Job li {
    margin-bottom: 10px;
}

.Footer {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-bottom: 15px;
}

