* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    height: 250px;
}
img:hover {
    box-shadow: 5px 5px 10px black;
}

table {
    margin: 0;
    border-collapse: collapse;
}
th{
    table-layout: fixed;
    border: 1px solid black;
    text-align: center;
    width: 100px;
}
td{
    table-layout: fixed;
    border: 1px solid black;
    text-align: center;
    width: 100px;
}
table tbody tr:nth-child(even) {
    background-color: darkseagreen;
}
table tbody tr:nth-child(odd) {
    background-color: lightgray;
}
caption {
caption-side: bottom;
}
